
.footer__item{
  margin-right: 18px;
}

.footer__item:last-of-type{
  margin-right: 0px;
}

@media screen and (max-width: 320px) {
  .footer__item{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .footer__item:last-of-type{
    margin-bottom: 0px;
  }
}