.intro__title{
  margin-block-start: 0px;
  margin-block-end: 0px;

  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
}

