.place__website{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: website;
}

@media screen and (max-width: 320px) {
  .place__website{
    display: none;
  }
}
