.lead__img{
  max-width: 984px;
  height: 615px;
  text-align: left;
  margin-top: 56px;
  padding-right: 148px;
  padding-left: 148px;
  background-image: url(../../../images/kalegin-michail-179870-unsplash.jpg);
}

@media screen and (max-width: 1024px) {
  .lead__img{
    padding-left: 48px;
    padding-right: 48px;
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__img{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .lead__img{
    width: 320px;
    height: 200px;
    padding-right: 0px;
    padding-left: 0px;
  }
}