/* page */
body, header, div, ul, li, h1, h3, img, p{
  /*border: 1px solid red;*/
}

.page{
  max-width: 1280;
  background: #2A2C2F;
}

/* header */
.header{
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  padding-right: 148px;
  padding-left: 148px;
}

.header__lang-links{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;

  list-style: none;
  display: flex;
  align-self: flex-end;
}

.header__lang-link{ 
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__item:first-of-type .header__lang-link{
  text-decoration: underline;
}

.header__item:last-of-type .header__lang-link{
  text-decoration: none;
}

.header__item:first-of-type{
  margin-right: 18px;
}

.header__item:last-of-type{
  margin-right: 0px;
}

.header__logo{
  width: 190px;
  height: 44px;
  align-self: flex-start;
}

/* lead */

.lead{
  display: flex;
  flex-direction: column;
  margin-bottom: 92px;
}

.lead__title{
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px; 
  text-align: center;
  color: white;
  margin-top: 58px;
  padding-right: 148px;
  padding-left: 148px;
}

.lead__subtitle{
  margin-block-start: 0px;
  margin-block-end: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: white;
  margin: auto;
  text-align: center;
  max-width: 620px;
  margin-top: 32px;
  padding-right: 148px;
  padding-left: 148px;
}

.lead__img{
  width: 984px;
  height: 615px;
  text-align: left;
  margin-top: 56px;
  padding-right: 148px;
  padding-left: 148px;
}

.lead__caption{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: left;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-right: 148px;
  padding-left: 148px;

}

/* intro */
.intro{
  display: flex;
  flex-direction: column;
  padding-left: 148px;
  padding-right: 286px;

}

.intro__title{
  margin-block-start: 0px;
  margin-block-end: 0px;

  width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
}

.intro__subtitle{
  margin-block-start: 0px;
  margin-block-end: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: white;
  margin-top: 40px;

}

.intro__text{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: white;
  width: 690px;
  margin-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.intro__list{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;

  color: white;
  margin-top: 32px;
  list-style: none;
}

.intro__list-item{
  font-family: Inter;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.intro__span-accent{
  font-weight: bold;
}

/* photo grid */
.photo-grid{
  margin-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px;
}

/* places */
.places{
  margin-top: 92px;
  margin-bottom: 92px;
  padding-right: 148px;
  padding-left: 148px;
}

.places__list{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;

  display: flex;
  flex-direction: column;
}

.places__place{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.places__place:last-of-type{
  margin-bottom: 0px;
}

.places__header{
  display: flex;
}

.places__body{
  display: flex;
}

.places__title{
  margin-block-start: 0px;
  margin-block-end: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  width: 460px;
  margin-right: 40px;
  margin-bottom: 48px;
  vertical-align: bottom;
}

.places__website{
  width: 460px;
  color: white;
  align-self: flex-end;
  margin-bottom: 48px;
}

.places__url-heading{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: #AAAAAA;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.places__image{
  width: 460px;
  height: 460px;
  margin-right: 40px;
}

.places__paragraph{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

/* cover */
.cover{
  margin-bottom: 92px;
}

.cover__link{
  text-decoration: none;
  margin-left: 48px;
  margin-right: 48px;
  width: 1184px;
  height: 740px;
  background-image: url(../images/cover-image.jpg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cover__link::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  transition: 0.3s;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

.cover__title{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: white;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-left: auto;
  margin-right: auto;
  
}

.cover__subtitle{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: white;
  font-family: Inter;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 32px;
}

/* footer */
.footer{
  margin: 46px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
}

.footer__links{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;

  list-style: none;
  display: flex;
  align-self: flex-end;
}

.footer__link{ 
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__item{
  margin-right: 18px;
}

.footer__item:last-of-type{
  margin-right: 0px;
}

.footer__copyright{
  margin-block-start: 0px;
  margin-block-end: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;  
  color: white;
  text-align: right;
}

/* link */
.link{
  color: white;
}

.link:hover{
  opacity: 0.8;
}

/* media queries */

@media screen and (max-width: 1024px) {
  .photo-grid{
    grid-gap: 14px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 225px;
  }

  .header{
    padding-right: 48px;
    padding-left: 48px;
  }

  .lead__title, .lead__subtitle, .lead__img, .lead__caption, .intro, .places{
    padding-left: 48px;
    padding-right: 48px;
  }

  .lead__title{
    margin-top: 50px;
  }

  .cover__background{
    width:100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .lead__img{
    width: 928px;
  }

}

@media screen and (max-width: 768px) {
  .lead__img, .lead__caption{
    padding-right: 0px;
    padding-left: 0px;
  }

  .lead__img{
    width: 768px;
  }

  .header, .lead__caption, .intro, .photo-grid{
    padding-left: 24px;
    padding-right: 24px;
  }

  .photo-grid{
    grid-gap: 16px;
    grid-template-columns: 352px 352px;
    grid-template-rows: 264px;
  }
}

@media screen and (max-width: 320px) {
  .header,
  .lead__title,
  .lead__subtitle, 
  .lead__caption, 
  .intro, 
  .photo-grid{
    padding-left: 16px;
    padding-right: 16px;
  }

  .places{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .photo-grid{
    grid-gap: 12px;
    grid-template-columns: 288px;
    grid-template-rows: 216px;
    
  }
}
