.intro__text{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: white;
  max-width: 690px;
  margin-top: 32px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 320px) {
  .intro__text{
  max-width: 288px;
  }
}