.photo-grid{
  margin-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns:repeat( auto-fit, min(284px) );
  grid-template-rows: repeat( auto-fit, min(213px) );
}

@media screen and (max-width: 1024px) {

.photo-grid{
  grid-gap: 14px;

  grid-template-columns:repeat( auto-fit, min(300px) );
  grid-template-rows: repeat( auto-fit, min(225px) );
}

}

@media screen and (max-width: 768px) {
    .photo-grid{
      padding-left: 24px;
      padding-right: 24px;

      grid-gap: 16px;
      grid-template-columns:repeat( auto-fit, min(352px) );
      grid-template-rows: repeat( auto-fit, min(264px) );
    }
}

@media screen and (max-width: 320px) {
  .photo-grid{

    padding-left: 16px;
    padding-right: 16px;

    grid-gap: 6px;

    grid-template-columns:repeat( auto-fit, min(288px) );
    grid-template-rows: repeat( auto-fit, min(216px) );
  }
}