@import url(./__item/header__item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./_active/header__lang-link_active.css);
@import url(./_active/header__lang-link_inactive.css);

@import url(./__logo/header__logo.css);

.header{
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  padding:0 148px;

}

@media screen and (max-width: 1024px) {
  .header{
    max-width: 928px;
    padding:0 48px;
  }
}

@media screen and (max-width: 768px) {
  .header{
    max-width: 720px;
    padding:0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header{
    max-width: 288px;
    padding:0 16px;
  }
}