@import url('https://rsms.me/inter/inter.css');
  .page { 
    font-family: 'Inter', sans-serif; 
  
  }
@supports (font-variation-settings: normal) {
  .page { 
    font-family: 'Inter var', sans-serif; 
  }
}

.page{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

