@import url(./__copyright/footer__copyright.css);
@import url(./__item/footer__item.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer{
  margin: 46px 48px 24px 48px;
  display: flex;
  justify-content: space-between;

  max-width: 1184px;

}

@media screen and (max-width: 768px) {
  .footer{
    flex-direction: column;
    margin: 0px 24px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer{
    flex-direction: column;
    margin: 0px 16px 16px 16px;
  }
}