@import url(./__image/place__image.css);
@import url(./__text/place__text.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
.place{
  margin-top: 92px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-right: 148px;
  margin-left: 148px;
	grid-auto-rows: 1fr;

}

@media screen and (max-width: 1024px) {
  .place{
    margin-right: 48px;
    margin-left: 48px;

  }

@media screen and (max-width: 768px) {
  .place{
    margin-top: 88px;
    margin-right: 24px;
    margin-left: 24px;

  }

@media screen and (max-width: 320px) {
  .place{
    margin-top: 48px;
    grid-template-columns: auto;
    margin-right: 16px;
    margin-left: 16px;
  }
}