@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title-column/place__title-column.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place{
  display: flex;
  margin-bottom: 80px;
}

@media screen and (max-width: 320px) {
  .place{
    flex-direction: column;
    margin-bottom: 48px;
  }
}