.places__url-heading{
  margin-block-start: 0px;
  margin-block-end: 0px;

  color: #AAAAAA;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
