.place__image{
  grid-area: image;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .place__image{
    width: initial;
    height: initial;
    max-width: 100vw;
    margin-left: -16px;
    margin-right: -16px;
  }
}