@import url(./__body/places__body.css);
@import url(./__header/places__header.css);
@import url(./__image/places__image.css);
@import url(./__list/places__list.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__website/places__website.css);
@import url(./url-heading/places__url-heading.css);

.places{
  margin-top: 92px;
  margin-bottom: 92px;
}

@media screen and (max-width: 320px) {
  .places{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

