.place__title{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  margin-bottom: 48px;
  grid-area: title;
}


@media screen and (max-width: 768px) {
  .place__title{
    font-size: 42px;
    line-height: 46px;

  }
}

@media screen and (max-width: 320px) {
  .place__title{
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
  }
}